<mat-radio-group [(ngModel)]="region" (change)="updateFlagList()">
  <mat-radio-button
    color="primary"
    *ngFor="let region of countiesServices.getMainland()"
    [value]="region"
  >
    {{ region }}
  </mat-radio-button>
</mat-radio-group>
<mat-divider></mat-divider>
<div class="scroll">
  <div *ngFor="let country of country$ | async" class="element">
    <span>
      <a routerLink="{{ country.name.common }}">
        <img [src]="countiesServices.getImageUrl(country.cca2)" width="50px" />
      </a>
    </span>
    {{ country.translations.rus.common }}
  </div>
</div>
