<div class="selectGame">
  <mat-form-field>
    <mat-label>Как тебя зовут? </mat-label>
    <input matInput placeholder="Степан" [(ngModel)]="userName" />
  </mat-form-field>
  <h2>Выбирай игру</h2>
  <mat-divider></mat-divider>
  <mat-radio-group [(ngModel)]="region">
    <mat-radio-button
      color="primary"
      *ngFor="let region of countiesServices.getMainland()"
      [value]="region"
    >
      {{ region }}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="primary" (click)="currentGame()">
    Начать
  </button>
</div>
