.details {
  overflow-y: scroll;
}

.details_element {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul {
  list-style: none;
  width: 600px;
}

.map-container {
  height: 400px;
  // margin-bottom: 390px;
}
