<div class="wrapper">
  <nav>
    <a [routerLink]="['/']">
      <h2>Страноум</h2>
    </a>
    <div class="login_btns">
      <button
        mat-button
        color="primary"
        mat-raised-button
        [routerLink]="['check-game']"
      >
        Начать
      </button>
      <button
        mat-button
        color="primary"
        mat-raised-button
        [routerLink]="['country-list']"
      >
        Список стран
      </button>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer></app-footer>
