<div class="wrapper">
  <nav>
    <h2>Страноум</h2>
    <div class="login_btns">
      <button mat-button color="primary" mat-raised-button>Login</button>
      <button mat-button color="primary">Logout</button>
    </div>
  </nav>
  <main>
    <img alt="world is mine" src="./../assets/world/world.svg" />
  </main>
  <footer color="primary">
    <input [(ngModel)]="countryCode"/>
    <span *ngIf="countryCode != ''">
      <img [src]="imgUrl" width="75" [alt]="countryCode" />
      
    </span>
    <span class="flexSpaceBetween">
      <a href="#"> stanlys </a>
      <img alt="Github" src="./../assets/world/github.png" />
    </span>
    <span> Copyright © 2023. All rights reserved.</span>
  </footer>
</div>
