div {
  margin-top: 10rem;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 3vh;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

  .github {
    width: 1.5rem;
    margin-left: 1rem;
  }

  img {
    margin-left: 1rem;
  }
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
