// @import "./../../../../_colors.scss";
@import "./../../../../colors.scss";

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  img {
    transform: scale(1.5);

    &:hover {
      color: $custom-primary;
    }
  }
}
