$black: #363940;
$white: #ffffff;
$custom-primary: #6e38f7;
$custom-accent: #00da6f;
$custom-warn: #df1f1f;

$custom-brand-primary: (
  50: #eee7fe,
  100: #d4c3fd,
  200: #b79cfb,
  300: #9a74f9,
  400: #8456f8,
  500: $custom-primary,
  600: #6632f6,
  700: #5b2bf5,
  800: #5124f3,
  900: #3f17f1,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);

$custom-brand-accent: (
  50: #e0fbee,
  100: #b3f4d4,
  200: #80edb7,
  300: #4de59a,
  400: #26e085,
  500: $custom-accent,
  600: #00d667,
  700: #00d05c,
  800: #00cb52,
  900: #00c240,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);

$custom-brand-warn: (
  50: #fbe4e4,
  100: #f5bcbc,
  200: #ef8f8f,
  300: #e96262,
  400: #e44141,
  500: $custom-warn,
  600: #db1b1b,
  700: #d71717,
  800: #d21212,
  900: #ca0a0a,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);
